resources/request_contracts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="root">
        <xs:sequence>
            <xs:element name="ContractId" type="xs:string"/>
            <xs:element name="Documents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="File" maxOccurs="unbounded" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>